<%= form_with(scope: :session, url: login_path) do |f| %>

  <div class="container">
  <div class="container-email">
   <div class="wrap-email-login">
    <form class="email-form">
      <span class="email-form-title">Entre:</span>
        
          
            <%= f.label :email %><br/>
            <%= f.email_field :email, placeholder: "Email", class: "campo" %>
          
          
            <%= f.label :password %><br/>
            <%= f.password_field :password, placeholder: "Password", class: "campo" %>
        
          
            <div class="container-email-form-btn">
            <%= f.submit "login", class: "email-form-btn" %>
            <div class="text-center">

            <span class="txt1-login">Ainda não possui conta?</span>
            <%= link_to 'Cadastre-se', '/signup', class:"txt2" %>
            
    </div>
  </div>
</div>
</form>

</div>
</div>
</div>
    
    <% end %>
